<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
</head>
<body>



  <h1>My name is: {{name}}</h1>

  <input ng-model="name='BoJack off'" type="text" placeholder="What is your name?">

  <select ng-model="pets">
    <option>Dogs and Cats</option>
    <option>Dogs</option>
    <option>Cats</option>
    <option>Neither</option>
  </select>

  <h3>{{ pets }}</h3>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>

</body>
</html>